* {
    box-sizing: border-box;
  }
  
  .link {
    overflow: hidden;
    background-color: rgb(220, 100, 100)
  }
  
  .link a {
    float: left;
    display: inline;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .link a:hover {
    background-color: rgb(220, 220, 220);
    color: rgb(220, 0, 0);
  }

  .texto {
    padding: 14px 16px;
  }

  @media screen and (min-width: 900px) {
    .uno {
      float: none;
      width: 25%;
    }
    .dos {
        float: none;
        width: 25%;
    }
    .tres {
        float: none;
        width: 25%;
    }
    .cuatro {
        float: none;
        width: 25%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .link {
        float: left;
    }
    .uno {
      float: none;
      width: 100%;
    }
    .dos {
        float: none;
        width: 100%;
    }
    .tres {
        float: none;
        width: 100%;
    }
    .cuatro {
        float: none;
        width: 100%;
    }
  }